*{
    /* border: 1px solid red; */
}
body{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(7,6,95,0.3974381989123774) 24%, rgba(18,18,127,0.5514998235622374) 100%);
    background-image: url(./imgs/zyro-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.imgclass{
    padding: 0;
    width: 100%;
    height: 550px;
    /* text-align: center; */
    /* background-color: rgba(233, 233, 22, 0.33); */
    /* background-image: url(./resources/cultura2.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    /* filter: blur(5px); */

    position: relative;
    /* border: 1px solid red; */
}
.navclass{
    /* border-bottom: 8px solid rgba(255, 196, 0, 0.545);  */
    /* background: rgba(14, 14, 39, 0.91); */
    border-bottom: 3px solid rgb(255, 255, 255); 
    background: rgba(14, 14, 39, 0.962);
}
.navclass a{            
    color: rgb(255, 255, 255);
}

.card-presentacion{

    /* background: rgba(0, 94, 255, 0.522); */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(14, 14, 39, 0.822) 24%, rgba(18, 18, 127, 0.418) 100%);
    color: rgb(235, 235, 235);
    border: none;
    border-right: 70px solid rgba(1, 81, 255, 0.479);
    max-width: 1000px;
    padding: 30px 30px 30px 70px;
    border-radius: 8px 0 30px 8px!important;

    /* background-color: rgba(250, 235, 215, 0.787); */
}
.card-presentacion h5{
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    z-index: 4;
}



/**************/
.img-test{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: blur(15px) contrast();
    z-index: 0;
}